{% extends 'layout.html.twig' %} 
  
{% block title %}Profil - {{ parent() }}{% endblock title %}

{% block innerContent %}
           
    <h2>Profil</h2>
        {{ user.urlPhoto }} 
        {{ user.name }} 
        {{ user.firstName }}
        {{ user.city }}
        {{ user.description }}

        <!-- On boucle sur les restaurants de user pour afficher les favoris grâce à la fonction show de UserController.php -->
        {% for restaurant in user.restaurants %}
        <!-- On récupère l'id du restaurant dans l'url générée par le lien cliqué pour le passer en argument de la fonction remove dans UserController.php  -->
        <li>{{ restaurant.name }}
            <a href="{{ path('gram_profile_remove', {restaurant: restaurant.id}) }}">
                <strong> Supprimer des favoris</strong>
            </a>
        </li>
        {# {{ dump(restaurant.id) }} #}
        {% endfor %}
        
        {# {{ dump(user) }} #}
  
{% endblock innerContent %}