{# {% extends 'layout.html.twig' %}

{% block title %}User - {{ parent() }}{% endblock title %}

{% block innerContent %}
    <h2>Profil</h2>
<h2>{{user.id }}</h2>
<p>{{user.name }}</p>
<h2>{{user.city }}</h2>


    <ul>
       {{ dump(user) }}
    </ul>

{% endblock innerContent %} #}

{% extends 'layout.html.twig' %} 
  
  {% block title %}Profile - {{ parent() }}{% endblock title %}

{% block innerContent %}

           
                  <h2>Profile</h2>
  
                        {{ dump(user ) }}
  
{% endblock innerContent %}