{% extends 'layout.html.twig' %} 
  
{% block title %}Profil - {{ parent() }}{% endblock title %}

{% block innerContent %}
           
    <h2>Profil</h2>
        {{ user.urlPhoto}} 
        {{ user.name}} 
        {{ user.firstName }}
        {{ user.city }}
        {{ user.description }}


        {% for restaurant in user.restaurants %}
            <a href="{{path('gram_restaurant_show', {restaurant : restaurant.id})}}"><li>{{restaurant.name}}</li></a>
        {% endfor %}
        
        {{ dump(user ) }}
  
{% endblock innerContent %}