{% extends 'layout.html.twig' %}

{% block title %}User - {{ parent() }}{% endblock title %}

{% block innerContent %}
    <h2>Profil</h2>
<h2>{{user.id }}</h2>
<h2>{{user.name }}</h2>
<h2>{{user.city }}</h2>

    <ul>
    {% for favorite in favorites %}
        <li>{{ favorite.name }}</li>
    {% endfor %}
    </ul>

    <ul>
       {{ dump(user) }}
    </ul>

{% endblock innerContent %}