{# {% extends 'layout.html.twig' %}

{% block title %}User - {{ parent() }}{% endblock title %}

{% block innerContent %}
    <h2>Profil</h2>
<h2>{{user.id }}</h2>
<p>{{user.name }}</p>
<h2>{{user.city }}</h2>

    <ul>
    {% for favorite in favorites %}
        <li>{{ favorite.name }}</li>
    {% endfor %}
    </ul>

    <ul>
       {{ dump(user) }}
    </ul>

{% endblock innerContent %} #}

{% extends 'layout.html.twig' %} 
  
  {% block title %}Profile - {{ parent() }}{% endblock title %}

{% block innerContent %}

           
                  <h2>Profile</h2>
                      {{ user.urlPhoto}} 
                      {{ user.name}} 
                      {{ user.firstName }}
                      {{ user.city }}
                      {{ user.description }}


                    {% for restaurant in restaurants.user %}
                <a href="{{path('gram_restaurant_show', {restaurant : restaurant.id})}}"><li>{{restaurant.name}}</li>
                </a>
               {% endfor %}
                        {{ dump(user ) }}
  
{% endblock innerContent %}