{% extends 'layout.html.twig' %} 
  
{% block title %}Profil - {{ parent() }}{% endblock title %}

{% block innerContent %}
           
    <h2>Profil</h2>
        {{ user.urlPhoto}} 
        {{ user.name}} 
        {{ user.firstName }}
        {{ user.city }}
        {{ user.description }}

        {% for restaurant in user.restaurants %}
        <li>{{restaurant.name}}<a href="{{restaurant.id}}"><strong> Supprimer des favoris</strong></a></li>
        {% endfor %}
        
        {{ dump(user ) }}
  
{% endblock innerContent %}