{% extends 'layout.html.twig' %} 
  
  {% block title %}Category - {{ parent() }}{% endblock title %}

    

{% block innerContent %}
<div class="container-fluid contenu">
          
  <div class="container  div-gauche">
    <div id="texte-header">
      <h1 id="gram">Gram</h1>
      <h1 id="repere">Le repère</h1>
      <h1 id="des">des <span id="resto">resto</span></h1>
      <h1 id="tendance">tendance</h1>
    </div>
  </div>
  
  <div class="container min-vh-100 div-droite"></div>
</div>

<div class="container min-vw-100 menu-resto">

{# Anne #}
{% if allCategories is empty  %}
<h3> Il n'y a aucune catégorie pour l'instant. </h3>
{% else %}
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Categories</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for category in allCategories %}
    <tr>
      <td>
        <a href="{{path('api_data', {category : category.id})}}">{{ category.name }}</a>
        {# Fin de Anne #}
        {# Anne #}
        <ul>
          {# On boucle sur le tableau des catégories #}
          {% for category in allCategories %}
          {# Puis on affiche le nom de chaque catégorie #}
          <li>{{ category.name }}</li>
          <ul>
            {# A l'intérieur de cette catégorie, on boucle sur les restaurants présents dans la table Category #}
            {% for restaurant in category.restaurants %}
            <ul>
                    <a href="#">
                        {# On affiche le nom de chaque restaurant correspondant à cette catégorie #}
                        <li>{{restaurant.name}}
                            {# Si l'utilisateur est connecté #}
                            {% if is_granted('ROLE_USER') %}
                                {# Si l'user est présent dans la table de ce restaurant (et donc que le restaurant est en favori de ce user, étant donné qu'on est dans une relation many to many) #}
                                {% if app.user in restaurant.users %}
                                    {# On appelle la fonction remove sur l'id du restaurant concerné #}
                                    <a href="{{ path('gram_main_remove', {restaurant: restaurant.id}) }}"><strong> Supprimer des favoris</strong></a>
                                    {# Sinon, si ce restaurant n'est pas en favori #}
                                {% else %}
                                    {# On appelle la fonction add sur l'id du restaurant concerné #}
                                    <a href="{{ path('gram_main_add', {restaurant: restaurant.id}) }}"><strong> Ajouter aux favoris</strong></a>
                                    {% endif %}
                            {% endif %}
                        </li>
                    </a>
                </ul>
                {% endfor %}
            </ul>
    {% endfor %}
    </ul>
    {% endfor %}
    {# Fin de Anne #}




    {# Florian #}
    {# Florian #}
    
    <body>
      <main>
        <div class="container-fluid contenu">
          
          <div class="container  div-gauche">
            <div id="texte-header">
              <h1 id="gram">Gram</h1>
              <h1 id="repere">Le repère</h1>
              <h1 id="des">des <span id="resto">resto</span></h1>
              <h1 id="tendance">tendance</h1>
            </div>
          </div>
          
          <div class="container min-vh-100 div-droite"></div>
        </div>
        
        <div class="container min-vw-100 menu-resto">
          
          
          
          {% for category in allCategories %}
          
          <a href="{{path('api_data', {category : category.id})}}">{{ category.name }}</a>
          
          {# Fin de Florian #}
          {% endfor %}
        </div>
    
        <div class="container-fluid contenu-partie2">



    
        {% for category in allCategories %}

            
                      <div class='texte-resto-african'>
                        <h1>{{ category.name }} <span>LIVE</span></h1>
                        <h2>Un <span id="safari">Safari</span> <span id="gustatif">gustatif</span> <span id="a">à</span> <span id="paris">PARIS</span></h2>
                      </div>
                
                  <div class="card-conteneur">
                    {% for restaurant in category.restaurants %}
                        <div class="card" style="width: 20rem;">
                          <img src="public/styles/css/img/img-card/alcazar_paris.jpeg" class="card-img-top" alt="{{restaurant.name}}">
                          <div class="card-body">
                            <h5 class="card-title">{{restaurant.name}}</h5>
                            <p class="card-text">{{restaurant.address}}</p>
                          </div>
                          {% for user in restaurant.users %}
                              <li>{{user.name}}</li>

                          {% endfor %}
                        </div>
              
                
                      
                    {% endfor %}
            </div>
        {% endfor %}
      


        <div class="container-fluid contenu-partie3">
    <div class="container div-gauche">

    </div>

    <div class="container div-droite">
        <div id="texte-cadre">
          <h1>Restaurant <span>Africain</span></h1><br>
          <p>Restaurant Africain
            Lorem ipsum dolor sit amet, consectetur adipiscing 
            elit. Sed vitae, suspendisse tristique faucibus eu. 
            Eleifend fusce porttitor eu bibendum sed interdum 
            ullamcorper. Elit et duis aliquam est tristique lacus 
            egestas. 
            </p>
            <br>
            <p>Viverra vestibulum enim, ut amet placerat luctus 
            aenean ac porta. Sed iaculis sagittis, varius enim. 
            Ultricies pharetra elementum, eu est.
            
            Pharetra, eget ornare dignissim elementum tortor. 
            
            N ibendum ultricies nisl facilisi nibh id. </p>
        </div>
    </div>
</div>

</div>
  </body>
{# Fin de Florian #}
{% endblock innerContent %}