{% extends 'layout.html.twig' %} 
  
  {% block title %}Category - {{ parent() }}{% endblock title %}

    

{% block innerContent %}
{# {{ dump(users) }} #}
{# {{ dump(restaurants) }} #}
 {% if allCategories is empty  %}
        <h3> Il n'y a aucune catégories pour l'instant. </h3>
    {% else %}
     <table class="table table-striped table-hover">
              <thead class="thead-dark">
              <tr>
                  <th>Categories</th>
  {% endif %}
              </tr>
              </thead>
              <tbody>
                  {% for category in allCategories %}
                      <tr>
                          <td>
                          <a href="{{path('api_data', {category : category.id})}}">{{ category.name }}</a>
                             
                          
                          </td>
                      </tr>
             
                {% endfor %}
              </tbody>
    </table>
  
    <h2>Nos Restaurants par catégorie</h2>

    <ul>
    {% for category in allCategories %}

        <li>{{ category.name }}</li>
            <ul>
                {% for restaurant in category.restaurants %}
                <ul>
                    {# On affiche ensuite chaque restaurant mis en favori par l'utilisateur #}
                    <a href="#">
                        <li>{{restaurant.name}}
                            {% if is_granted('ROLE_USER') %}
                                {# on boucle sur les restaurants car il y a une table de jointure avec restaurants #}
                                {# {% for restaurant in user.restaurants %} #}
                                    {# {{ dump(user.restaurants) }} #}
                                {# {% endfor %} #}
                                {#{% if array_key_exists(restaurant, users)  %} #}
                                    <a href="{{ path('gram_main_remove', {restaurant: restaurant.id}) }}"><strong> Supprimer des favoris</strong></a>
                                {# {% else %} #}
                                    <a href="#"><strong> Ajouter aux favoris</strong></a>
                                {# {% endif %} #}
                            {% endif %}
                        </li>
                    </a>
                </ul>
                {% endfor %}
            </ul>
    {% endfor %}
    </ul>

{% endblock innerContent %}