{% extends 'layout.html.twig' %} 
  
  {% block title %}Category - {{ parent() }}{% endblock title %}

    

{% block innerContent %}
 {% if allCategories is empty  %}
        <h3> Il n'y a aucune catégorie pour l'instant. </h3>
    {% else %}
     <table class="table table-striped table-hover">
              <thead class="thead-dark">
              <tr>
                  <th>Categories</th>
  {% endif %}
              </tr>
              </thead>
              <tbody>
                  {% for category in allCategories %}
                      <tr>
                          <td>
                          <a href="{{path('api_data', {category : category.id})}}">{{ category.name }}</a>
                             
                          
                          </td>
                      </tr>
             
                {% endfor %}
              </tbody>
    </table>
  
    <h2>Nos Restaurants par catégorie</h2>

    <ul>
    {# On boucle sur le tableau des catégories #}
    {% for category in allCategories %}
    {# Puis on affiche le nom de chaque catégorie #}
        <li>{{ category.name }}</li>
            <ul>
                {# A l'intérieur de cette catégorie, on boucle sur les restaurants présents dans la table Category #}
                {% for restaurant in category.restaurants %}
                <ul>
                    <a href="#">
                        {# On affiche le nom de chaque restaurant correspondant à cette catégorie #}
                        <li>{{restaurant.name}}
                            {# Si l'utilisateur est connecté #}
                            {% if is_granted('ROLE_USER') %}
                                {# Si l'user est présent dans la table de ce restaurant (et donc que le restaurant est en favori de ce user, étant donné qu'on est dans une relation many to many) #}
                                {% if app.user in restaurant.users %}
                                    {# On appelle la fonction remove sur l'id du restaurant concerné #}
                                    <a href="{{ path('gram_main_remove', {restaurant: restaurant.id}) }}"><strong> Supprimer des favoris</strong></a>
                                    {# Sinon, si ce restaurant n'est pas en favori #}
                                {% else %}
                                    {# On appelle la fonction add sur l'id du restaurant concerné #}
                                    <a href="{{ path('gram_main_add', {restaurant: restaurant.id}) }}"><strong> Ajouter aux favoris</strong></a>
                                {% endif %}
                            {% endif %}
                        </li>
                    </a>
                </ul>
                {% endfor %}
            </ul>
    {% endfor %}
    </ul>

{% endblock innerContent %}