{% extends 'layout.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block innerContent %}
    <h1>S'inscrire</h1>

    
    {{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    </div>
    <div class="form-group"></div>
        {{ form_row(registrationForm.description) }}
    </div>
    <div class="form-group"></div>
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

        <button type="submit" class="btn btn-primary">Créer le compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
