{% extends "base.html.twig" %}
{#    le template "layout.html.twig" étends "base.html.twig".#}
{#    On ne réécrit que le bloc "body" de base.html.twig.#}

{#    C'est ici qu'on définit le header et le footer qui seront commun aux autres pages.#}
{#    On définit aussi le bloc "content", pour pouvoir y placer tous les contenus propres#}
{#    aux différentes pages du projet.#}

{#    Ceci permet de modifier en une fois la mise en forme globale de tout le projet#}
{#    et rends le templating plus fléxible. #}

{% block body %}
    <div id='root'></div>

    <title>Le repère des resto</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="styles/css/img/logo_gram.png" alt="logo-gram" id="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          {# <a class="nav-item nav-link" href="#">Galerie</a> #}
          <a class="nav-item nav-link" href="/a-propos">A propos</a>
        

            {# Le if ... else ... endif ci-dessous permet d'afficher un contenu différent suivant que l'utilisateur #}
            {# est authentifié (loged-in) ou pas, grace à la fonction is_granted de twig #}
            {% if is_granted('ROLE_USER') %}
                {# Quand un utilisateur est connecté, on peut accéder à l'objet qui le représente dans  #}
                {# app.user, qui est disponible par défaut dans tous les templates  #}
                <p>Bonjour {{ app.user.prenom }}</p>
                <a href="{{ path("app_logout") }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Se connecter</a>
                <a href="{{ path('app_register') }}">Créer un compte</a>
            {% endif %}
  
        </div>
      </div>
    </nav>
  </header>

  
    

  
    <main>
        {#         Le bloc content, qu'on crée ici et qu'on laisse vide. #}
        {#           C'est là que viendra s'insérer le contenu affichable propre à chaque template de notre projet #}
        {% block innerContent %}
        {% endblock %}
    </main>






    <footer>

    <div id="footer">
      <div class="container min-vw-100 menu-resto">
        <a href="/"> ©Gram {{ "now" | date("Y") }} </a>
        <a href="/cgv">Condition général des ventes et mentions légales</a>
        <a href="gram_newsletter">Information sur les cookies</a>
        <a href="gram_newsletter">Politique de confidentialité</a>
        <a href="/contact">Contactez-nous</a>
      </div>
    </div>

  </footer>




  

{% endblock %}
