{% extends 'layout.html.twig' %} 
  
  {% block title %}Profile - {{ parent() }}{% endblock title %}

{% block innerContent %}

           
                  <h2>Parameter</h2>
                      {{ user.urlPhoto}} 
                      {{ user.name}} 
                      {{ user.firstName }}
                      {{ user.city }}
                      {{ user.description }}


                  
                        {{ dump(user ) }}
  
{% endblock innerContent %}